@media (max-width: 540px){
.slider {
  .left {
    left: 0 !important;
  }
  .right {
    font-size: 50px;
    color: $sub-element;
    right: 0 !important;
  }
}
  .screenshots-item .info{
    margin: 50px 0;
  }
}
