@import "hover";
@import "_keyframes";
@import "_media540";

.cover {
  overflow: hidden;
}

.border-cover:after, .border-cover:before {
  content: "";
  position: absolute;
  width: 18000px;
  height: 45%;
  display: block;
  z-index: 1;
  bottom: -50px;
  margin: 0;
  background: url(../img/wave1.png) repeat-x;
  background-size: contain;
  animation: wave1 40s infinite linear;
}

.border-cover:before {
  background: url(../img/wave2.png) repeat-x;
  background-size: contain;
  opacity: 0.8;
  animation: wave1 15s infinite linear;
}

.border-cover {
  overflow: hidden;
  position: relative;
  background: $main-color;
  width: 200vw;
  margin-left: -50vw;
  border-radius: 0 0 60% 60%;
  color: white;
  display: flex;
  align-items: center;
  padding: 100px 0;
  .container {
    position: relative;
    z-index: 2;
  }

  .info-text {
    align-self: center;
  }
   .img-box {
    display: flex;
    align-items: center;
  }
  .phone {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

}

.info-text {
  .title {
    font-size: 3.3em;
    font-weight: 700;
    margin: 40px 0;
    color: white;
    text-align: left;
  }
  .wrap-btn {
    margin: 50px 0;
  }
}

.arrow-down {
  color: #ff4a4f;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 20px 0;
  transform: translateX(-50px);
  z-index: 9;
  .fas {
    &:hover {
      background: rgba(255, 255, 255, 0.6);
    }
    background: white;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.wrap-title {
  margin-bottom: 130px;
  .title {
    color: $main-color;
    text-align: center;
  }
  .sub-title {
    text-align: center;
    color: $sub-title;

  }
}

.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  .title-box {
    color: $text-color;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 30px;
  }
  .text {
    color: $sub-text;
    font-size: 0.9em;
  }
}

.feature > * {
  width: 100%;
}

.icon-box {
  margin-right: 20px;
  flex-basis: 75px;
  img {
    width: 75px;
  }
}

.slider {
  li {
    box-shadow: 0 0 50px #ced4da;
  }
  ul {
    left: auto !important;
    top: auto !important;
    margin: 0 auto !important;
  }

  .left {
    font-size: 50px;
    color: $sub-element;
    left: -100px !important;
  }
  .right {
    font-size: 50px;
    color: $sub-element;
    right: -100px !important;
  }
}

.screenshots-item {
  margin-bottom: 185px;
  display: flex;
  align-items: center;
  .info {
    padding-right: 65px;
  }
  .title {
    color: $main-color;
    margin-bottom: 35px;
  }
  .icon {
    width: 120px;
    height: 65px;
    margin-bottom: 45px;
    img {
      object-fit: scale-down;
    }
  }
  .text {
    font-size: 1.3em;
    height: 135px;
    overflow: hidden;
    margin-bottom: 40px;
  }

}

.screenshots-item.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.wrap-weathers {
  color: $sub-element;
  .weather {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 6px rgba(180, 180, 180, 0.45);
    background: white;
  }
  .wet {
    z-index: 3;
    &:after {
      content: "%";
    }
  }
  .temp {
    z-index: 2;
    margin-left: -20px;
    &:after {
      content: "\00b0";
    }

  }
  .state {
    z-index: 1;
    margin-left: -20px;
  }
}

.review {
  position: relative;
  padding: 100px 25px;
  .text {
    padding: 24px 0;
    font-size: 1.3em;
  }
  &:before, &:after {
    position: absolute;
    font-size: 147px;
    color: $main-color;
  }
  &:before {
    content: "“";
    top: 0;
    left: 25px;
  }
  &:after {
    content: "“";
    transform: rotate(180deg);
    right: 25px;
    bottom: 0;
  }

}

section.download {
  background: $main-color;
  padding-top: 50px;
  color: white;
  .links-down {
    padding: 30px 0;
  }
  .link-item {
    width: 150px;
    display: inline-block;
  }
  .title {
    margin-bottom: 45px;
  }
  .phone {
    display: flex;
    align-items: flex-end;
  }
}

footer {
  .logo {
    color: $main-color;
    span {
      color: $btn-b-primary;
    }
  }
  .navbar {
    padding: 100px 0;
    position: relative;
    &:before {
      content: "";
      width: 120%;
      height: 1px;
      background: $sub-element;
      position: absolute;
      bottom: 0;
      left: -10%;
    }
  }
  .dev-box {
    text-align: right;
    padding: 45px 0 85px;
    color: $sub-element;
    opacity: 0.4;
  }
}

