@import '../utilities/index';
@import "reset";

body {
  font-family: $font-family;
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $text-color;
}

.navbar-nav .nav-item {
  a {
    color: white;
    transition: .3s ease;
    opacity: 0.6;
  }
  &.active a {
    opacity: 1;
  }
}
.logo {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
}
.title {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.social-networks i {
  margin: 0 10px;
}

